pandas
numpy
scikit-learn
nltk
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pdfplumber
python-docx
streamlit>=1.35.0
altair>=5.0.0
jupyter
wordcloud
matplotlib
seaborn
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
